// 引入公用文件
@import "./common/normalize";
@import "./common/variable";
@import "./common/mixin";
@import "./common/animate";
@import "./common/font";
// 自定义字体
// @font-face{
//     font-family: CNregular;
//     src: url('../resources/font/CNregular.otf');
// }
//根结点样式设置
html {
    // font-size: 18px;
    font-family: Arial, "黑体";
    -webkit-overflow-scrolling: touch; //安卓专有属性
}

html,
body,
.main {
    position: relative;
    width: 100%;
    height: 100%; // font-family: CNregular;
}

//默认的page样式
.page {
    @include abs_full_page();
    display: none;
    background: #fff;
    overflow: hidden;
    .container {
        @include abs_full_page();
    }
}

//默认的popup样式
.popup {
    @include abs_full_page();
    display: none;
    z-index: 1;
    overflow: hidden;
    .mask {
        background: rgba(0, 0, 0, .65);
        @include abs_full_page();
    }
    .box {
        @include abs_full_page();
        .wrap {
            transform-origin: 50% 50%;
            @include abs_both_middle();
            width: 82%;
            &__bg {
                display: block;
                width: 100%;
            }
        }
    }
}

//按钮活跃状态
.btn-has-active {
    &:active {
        transform-origin: 50% 50%;
        transform: scale(0.95);
    }
}

.click_for_img-btn {
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

//小弹窗样式
.info {
    $info-width: 80%;
    z-index: 100;
    display: none;
    position: fixed;
    width: $info-width;
    margin-left: -($info-width/2);
    left: 50%;
    top: 10%;
    padding: .8rem 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, .96);
    color: black;
    font-size: .8rem;
    border-radius: .5rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 13px #333333;
}

//引入页面文件
@import "./page/loading";
@import "./page/home";
@import "./page/regist";
@import "./page/regist-info";
@import "./page/zhanxianxiaxian";
//引入弹窗文件
@import "./popup/rule";
@import "./popup/subscribe";
@import "./popup/desney--myaward-list";
@import "./popup/hobby";
@import "./popup/kid";
@import "./popup/notice-upgrade";
@import "./popup/notice-act-end";
@import "./popup/share";
@import "./popup/desney";
@import "./popup/same-city";
@import "./popup/toothpaste";
@import "./popup/redpack";
@import "./popup/jifen100";
@import "./popup/jifen50";
@import "./popup/jifen20";
@import "./popup/jifen10";
@import "./popup/share-three";
@import "./popup/limit-lottery";
@import "./popup/share-suc";
@import "./popup/same-city-info";
@import "./popup/toothpaste-addressInfo";