.limit-lottery {
    &__person {
        @include abs_width_center(40%);
        bottom: 35%;
    }
    &__commom-text-box {
        @include abs_width_center(90%);
        top: 70%;
        p {
            font-size: .8rem;
            text-align: center;
            margin: 5px;
        }
    }
    &__btn-close {
        position: absolute;
        width:13%;
        top: -25%;
        right:-5%;
        img {
            width: 100%;
        }
    }
}