.share-suc {
    .wrap.cover{
        top:40%;
        width:75%;
    }
    &__btn-close {
        position: absolute;
        width:12%;
        top: 0%;
        right:-5%;
        img {
            width: 100%;
        }
    }
}