.regist-info {
    overflow: scroll;
    background-color:#C91B1C;
    &__bg {
        width: 100%;
    }
    &__box {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%; 
        // font-size: 0;
    }
    &__logo {
        position: absolute;
        left: 5%;
        top: 2%;
        width: 27%;
    }
    &__top-title {
        @include abs_width_center(88%);
        top: 9%; // opacity: .3;
    }
    &__item-box {
        @include abs_width_center(90%);
        top: 42%;
        background-color: #fff;
        border-radius: 10px;
        @include display_flex(column);
    }
    .item-box {
        &__item {
            position: relative;
            padding: 5% 0 1%;
            border-bottom: 1px #eeeeee solid;
            >img {
                width: 100%;
            }
            .regist-info__form-item-select {
                @include abs_vertical_middle;
                right: 10%;
                box-sizing: border-box;
                width: 55%;
                height: 50%;
                text-align: right;
                line-height: 2rem;
                background: #FFFFFF;
                color: #b7b7b7; // border: 1px solid red;
                border: none;
                outline: none;
                border-radius: 3px; // 清除默认的样式
                appearance: none;
                padding: 0;
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

            }
        }
        &__item-hobby {}
        $item-box__item-right:5%;
        &__item-iphone {
            .item-box__input-iphone {
                @include abs_vertical_middle();
                top: 55%;
                width: 50%;
                height: 50%;
                right: $item-box__item-right;
                box-sizing: border-box;
                border: none;
                outline: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                overflow: scroll;
                text-align: right;
                font-size: 1rem;
                &::placeholder {
                    color: #b7b7b7;
                    font-size: .7em;
                }
            }
        }
        &__item-code {
            .item-box__input-code {
                @include abs_vertical_middle();
                top: 55%;
                width: 35%;
                height: 50%;
                left: 15%;
                box-sizing: border-box;
                border: none;
                outline: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                overflow: scroll;
                text-align: left;
                font-size: 1rem;
                
                &::placeholder {
                    color: #b7b7b7;
                    font-size: .7em;
                }
            }
            .item-box__btn-send-code {
                @include abs_vertical_middle();
                width: 4rem;
                font-size: .7rem;
                border-radius: 3px;
                border: 1px solid $theme-color;
                color: $theme-color;
                text-align: center;
                right: $item-box__item-right;
                padding: 5px;
            }
        }
        &__btn-submit {
            color: white;
            font-size: .9rem;
            background-color: #f44341;
            width: 70%;
            border-radius: 100px;
            text-align: center;
            padding: 3%;
            margin: 8% 0 5%;
            box-shadow: 2px -2px 5px #2f302f62 inset;
        }
    }
}